/* Override normalize.css defaults. */
html, button, input, select, textarea {
  color: #333333;
  font-family: 'Palatino', 'Palatino Linotype', 'Georgia', serif;
}

/* Override normalize.css defaults. */
h1, h2, h3, h4, h5, h6 {
  color: #333333;
  font-family: 'Spinnaker', 'Helvetica', 'Helvetica Neue', 'Arial', sans-serif;
}

html {
  overflow-y: scroll;
}

p, li, dt, dd {
  line-height: 1.5;
}

a {
  color: #FF0099;
  text-decoration: none;
}

a:hover {
  border-bottom: 1px solid #FF0099;
}

.container {
  width: 740px;
  margin: 48px auto;
  padding: 0;
}

.post a {
  color: #333333;
}

.date {
  font-style: italic;
  margin-top: -20px;
}

#header {
  text-align: center;
  padding-bottom: 20px;
}

#header h1 {
  font-size: 54px;
  margin: 10px 0;
}

#header h1 a {
  color: #333333;
}

#header h2 {
  font-size: 18px;
  line-height: 24px;
}

#nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline;
  padding-bottom: 2px;
}

#nav li a {
  font-weight: bold;
  margin: 4px 20px;
}

#nav li a:hover {
  border-bottom: 2px solid #FF0099;
}

#archive {
  font-size: 1.2em;
  line-height: 1.8em;
  list-style: none;
  margin: 0;
  padding: 0;
}

#footer {
  border-top: 1px solid #CCCCCC;
  color: #999999;
  margin-top: 40px;
  padding-top: 20px;
  text-align: center;
}

#photo {
  float: right;
}
